---
title: About
---

<div class="split-content">
	<div class="side-content">
		<div class="editable">
			<p>I'm Sripradha, an artist/biologist.</p>

			<p>Do I dare disturb the universe? Do I dare to eat a peach?</p>

			<p>If you like my work feel free to check out my Posters, Art Prints and Stickers! <a href="https://www.instamojo.com/sripradha/">Instamojo</a>.</p>

		</div>
	</div>

	<div class="side-photo">
		<img src="{{ site.baseurl }}/images/me.jpg" alt="Sripradha" class="editable" height="400" width="400" />
	</div>
</div>
