<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
	integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"
	integrity="sha512-YibiFIKqwi6sZFfPm5HNHQYemJwFbyyYHjrr3UT+VobMt/YBo1kBxgui5RWc4C3B4RJMYCdCAJkbXHt+irKfSA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.3/jquery.scrollTo.min.js"
	integrity="sha512-PsJ1f4lw0Jrga4wbDOvdWs9DFl88C1vlcH2VQYqgljHBmzmqtGivUkzRHWx2ZxFlnysKUcROqLeuOpYh9q4YNg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
	integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"
	integrity="sha512-S5PZ9GxJZO16tT9r3WJp/Safn31eu8uWrzglMahDT4dsmgqWonRY9grk3j+3tfuPr9WJNsfooOR7Gi7HL5W2jw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
	integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="{{ " js/front.js" | absURL }}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>.
<script>
	var $event = $.event,
		$special,
		resizeTimeout;
	// frontjs content start

	masonry();
	$(function () {
		offCanvas();
		lightbox();
		carousels();
		utils();
		highlightCurrentPage();
		makeImagesResponsive();
	});
	function highlightCurrentPage() {
		$("a[href='" + location.href + "']").parent().addClass("active");
	}
	function makeImagesResponsive() {
		$("img").addClass("img-responsive");
	}
	/* =========================================
	 *  carousels
	 *  =======================================*/
	function carousels() {
		$('#main-slider').owlCarousel({
			navigation: true, // Show next and prev buttons
			slideSpeed: 300,
			paginationSpeed: 400,
			autoPlay: true,
			stopOnHover: true,
			singleItem: true,
			afterInit: ''
		});
	}
	/* =========================================
	 *  masonry
	 *  =======================================*/
	function masonry() {
		var $grid = $('.grid').masonry({
			itemSelector: ".masonry-item"
		});
		$grid.imagesLoaded().progress(function () {
			$grid.masonry('layout');
		});
	}
	/* =========================================
	 *  Off-canvas menu
	 *  =======================================*/
	function offCanvas() {
		$(document).ready(function () {
			$('[data-toggle="offcanvas"]').click(function () {
				$('.row-offcanvas').toggleClass('active')
			});
		});
	}
	/* =========================================
	 *  lightbox
	 *  =======================================*/
	function lightbox() {
		$(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
			event.preventDefault();
			$(this).ekkoLightbox();
		});
	}
	/* =========================================
	 *  utils
	 *  =======================================*/
	function utils() {
		/* tooltips */
		$('[data-toggle="tooltip"]').tooltip();
		/* click on the box activates the radio */
		$('#checkout').on('click', '.box.shipping-method, .box.payment-method', function (e) {
			var radio = $(this).find(':radio');
			radio.prop('checked', true);
		});
		/* click on the box activates the link in it */
		$('.box.clickable').on('click', function (e) {
			window.location = $(this).find('a').attr('href');
		});
		/* external links in new window*/
		$('.external').on('click', function (e) {
			e.preventDefault();
			window.open($(this).attr("href"));
		});
		/* animated scrolling */
		$('.scroll-to').click(function (event) {
			event.preventDefault();
			var full_url = this.href;
			var parts = full_url.split("#");
			var trgt = parts[1];
			$('body').scrollTo($('#' + trgt), 800, { offset: -80 });
		});
	}
	/* product detail gallery */
	function productDetailGallery(confDetailSwitch) {
		$('.thumb:first').addClass('active');
		timer = setInterval(autoSwitch, confDetailSwitch);
		$(".thumb").click(function (e) {
			switchImage($(this));
			clearInterval(timer);
			timer = setInterval(autoSwitch, confDetailSwitch);
			e.preventDefault();
		}
		);
		$('#mainImage').hover(function () {
			clearInterval(timer);
		}, function () {
			timer = setInterval(autoSwitch, confDetailSwitch);
		});
		function autoSwitch() {
			var nextThumb = $('.thumb.active').closest('div').next('div').find('.thumb');
			if (nextThumb.length == 0) {
				nextThumb = $('.thumb:first');
			}
			switchImage(nextThumb);
		}
		function switchImage(thumb) {
			$('.thumb').removeClass('active');
			var bigUrl = thumb.attr('href');
			thumb.addClass('active');
			$('#mainImage img').attr('src', bigUrl);
		}
	}
	/* product detail sizes */
	function productDetailSizes() {
		$('.sizes a').click(function (e) {
			e.preventDefault();
			$('.sizes a').removeClass('active');
			$('.size-input').prop('checked', false);
			$(this).addClass('active');
			$(this).next('input').prop('checked', true);
		});
	}
	$.fn.alignElementsSameHeight = function () {
		$('.same-height-row').each(function () {
			var maxHeight = 0;
			var children = $(this).find('.same-height');
			children.height('auto');
			if ($(window).width() > 768) {
				children.each(function () {
					if ($(this).innerHeight() > maxHeight) {
						maxHeight = $(this).innerHeight();
					}
				});
				children.innerHeight(maxHeight);
			}
			maxHeight = 0;
			children = $(this).find('.same-height-always');
			children.height('auto');
			children.each(function () {
				if ($(this).height() > maxHeight) {
					maxHeight = $(this).innerHeight();
				}
			});
			children.innerHeight(maxHeight);
		});
	}
	$(window).load(function () {
		windowWidth = $(window).width();
		$(this).alignElementsSameHeight();
	});
	$(window).resize(function () {
		newWindowWidth = $(window).width();
		if (windowWidth !== newWindowWidth) {
			setTimeout(function () {
				$(this).alignElementsSameHeight();
			}, 205);
			windowWidth = newWindowWidth;
		}
	});
	//frontjs content end



	$special = $event.special.debouncedresize = {
		setup: function () {
			$(this).on("resize", $special.handler);
		},
		teardown: function () {
			$(this).off("resize", $special.handler);
		},
		handler: function (event, execAsap) {
			var context = this,
				args = arguments,
				dispatch = function () {
					event.type = "debouncedresize";
					$event.dispatch.apply(context, args);
				};

			if (resizeTimeout) {
				clearTimeout(resizeTimeout);
			}

			execAsap ?
				dispatch() :
				resizeTimeout = setTimeout(dispatch, $special.threshold);
		},
		threshold: 250
	};

	var BLANK = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';

	$.fn.imagesLoaded = function (callback) {
		var $this = this,
			deferred = $.isFunction($.Deferred) ? $.Deferred() : 0,
			hasNotify = $.isFunction(deferred.notify),
			$images = $this.find('img').add($this.filter('img')),
			loaded = [],
			proper = [],
			broken = [];

		if ($.isPlainObject(callback)) {
			$.each(callback, function (key, value) {
				if (key === 'callback') {
					callback = value;
				} else if (deferred) {
					deferred[key](value);
				}
			});
		}

		function doneLoading() {
			var $proper = $(proper),
				$broken = $(broken);

			if (deferred) {
				if (broken.length) {
					deferred.reject($images, $proper, $broken);
				} else {
					deferred.resolve($images);
				}
			}

			if ($.isFunction(callback)) {
				callback.call($this, $images, $proper, $broken);
			}
		}

		function imgLoaded(img, isBroken) {
			if (img.src === BLANK || $.inArray(img, loaded) !== -1) {
				return;
			}

			loaded.push(img);

			if (isBroken) {
				broken.push(img);
			} else {
				proper.push(img);
			}

			$.data(img, 'imagesLoaded', { isBroken: isBroken, src: img.src });

			if (hasNotify) {
				deferred.notifyWith($(img), [isBroken, $images, $(proper), $(broken)]);
			}

			if ($images.length === loaded.length) {
				setTimeout(doneLoading);
				$images.unbind('.imagesLoaded');
			}
		}

		if (!$images.length) {
			doneLoading();
		} else {
			$images.bind('load.imagesLoaded error.imagesLoaded', function (event) {
				imgLoaded(event.target, event.type === 'error');
			}).each(function (i, el) {
				var src = el.src;

				var cached = $.data(el, 'imagesLoaded');
				if (cached && cached.src === src) {
					imgLoaded(el, cached.isBroken);
					return;
				}

				if (el.complete && el.naturalWidth !== undefined) {
					imgLoaded(el, el.naturalWidth === 0 || el.naturalHeight === 0);
					return;
				}

				if (el.readyState || el.complete) {
					el.src = BLANK;
					el.src = src;
				}
			});
		}

		return deferred ? deferred.promise($this) : $this;
	};

	var Grid = (function () {

		var $grid = $('*#og-grid'),
			$items = $grid.children('li'),
			current = -1,
			previewPos = -1,
			scrollExtra = 0,
			marginExpanded = 10,
			$window = $(window), winsize,
			$body = $('html, body'),
			transEndEventNames = {
				'WebkitTransition': 'webkitTransitionEnd',
				'MozTransition': 'transitionend',
				'OTransition': 'oTransitionEnd',
				'msTransition': 'MSTransitionEnd',
				'transition': 'transitionend'
			},
			transEndEventName = transEndEventNames[Modernizr.prefixed('transition')],
			support = Modernizr.csstransitions,
			settings = {
				minHeight: 500,
				speed: 350,
				easing: 'ease'
			};

		function init(config) {

			settings = $.extend(true, {}, settings, config);

			$grid.imagesLoaded(function () {

				saveItemInfo(true);
				getWinSize();
				initEvents();

			});

		}

		function addItems($newitems) {

			$items = $items.add($newitems);

			$newitems.each(function () {
				var $item = $(this);
				$item.data({
					offsetTop: $item.offset().top,
					height: $item.height()
				});
			});

			initItemsEvents($newitems);

		}

		function saveItemInfo(saveheight) {
			$items.each(function () {
				var $item = $(this);
				$item.data('offsetTop', $item.offset().top);
				if (saveheight) {
					$item.data('height', $item.height());
				}
			});
		}

		function initEvents() {

			initItemsEvents($items);

			$window.on('debouncedresize', function () {

				scrollExtra = 0;
				previewPos = -1;
				saveItemInfo();
				getWinSize();
				var preview = $.data(this, 'preview');
				if (typeof preview != 'undefined') {
					hidePreview();
				}

			});

		}

		function initItemsEvents($items) {
			$items.on('click', 'span.og-close', function () {
				hidePreview();
				return false;
			}).children('a').on('click', function (e) {

				var $item = $(this).parent();
				current === Array.from($items).findIndex(d => d == $item[0]) ? hidePreview() : showPreview($item);
				return false;

			});
		}

		function getWinSize() {
			winsize = { width: $window.width(), height: $window.height() };
		}

		function showPreview($item) {

			var preview = $.data(this, 'preview'),
				position = $item.data('offsetTop');

			scrollExtra = 0;

			if (typeof preview != 'undefined') {

				if (previewPos !== position) {
					if (position > previewPos) {
						scrollExtra = preview.height;
					}
					hidePreview();
				}
				else {
					preview.update($item);
					return false;
				}

			}

			previewPos = position;
			preview = $.data(this, 'preview', new Preview($item));
			preview.open();

		}

		function hidePreview() {
			current = -1;
			var preview = $.data(this, 'preview');
			preview.close();
			$.removeData(this, 'preview');
		}

		function Preview($item) {
			this.$item = $item;
			this.expandedIdx = Array.from($items).findIndex(d => d == this.$item[0]);
			this.create();
			this.update();
		}

		Preview.prototype = {
			create: function () {
				this.$title = $('<h3></h3>');
				this.$description = $('<p></p>');
				this.$href = $('<a href="#" target="_blank">{{ .Site.Params.buttontext }}</a>');
				this.$details = $('<div class="og-details"></div>').append(this.$title, this.$description, this.$href);
				this.$loading = $('<div class="og-loading"></div>');
				this.$fullimage = $('<div class="og-fullimg"></div>').append(this.$loading);
				this.$closePreview = $('<span class="og-close"></span>');
				this.$previewInner = $('<div class="og-expander-inner"></div>').append(this.$closePreview, this.$fullimage, this.$details);
				this.$previewEl = $('<div class="og-expander"></div>').append(this.$previewInner);
				this.$item.append(this.getEl());
				if (support) {
					this.setTransition();
				}
			},
			update: function ($item) {

				if ($item) {
					this.$item = $item;
				}

				if (current !== -1) {
					var $currentItem = $items.eq(current);
					$currentItem.removeClass('og-expanded');
					this.$item.addClass('og-expanded');
					this.positionPreview();
				}

				current = this.$item.index();

				var $itemEl = this.$item.children('a'),
					eldata = {
						href: $itemEl.attr('href'),
						largesrc: $itemEl.data('largesrc'),
						title: $itemEl.data('title'),
						description: $itemEl.data('description'),
						buttontext: $itemEl.data('buttontext')
					};

				this.$title.html(eldata.title);
				this.$description.html(eldata.description);
				if (eldata.buttontext) this.$href.text(eldata.buttontext);
				else this.$href.text("{{ .Site.Params.buttontext }}")

				if (eldata.href) {
					this.$href.attr('href', eldata.href);
					this.$href.show();
				}
				else {
					this.$href.hide();
				}

				var self = this;

				if (typeof self.$largeImg != 'undefined') {
					self.$largeImg.remove();
				}

				if (self.$fullimage.is(':visible')) {
					this.$loading.show();
					$('<img/>').load(function () {
						var $img = $(this);
						if ($img.attr('src') === self.$item.children('a').data('largesrc')) {
							self.$loading.hide();
							self.$fullimage.find('img').remove();
							self.$largeImg = $img.fadeIn(350);
							self.$fullimage.append(self.$largeImg);
						}
					}).attr('src', eldata.largesrc);
				}

			},
			open: function () {

				setTimeout($.proxy(function () {
					this.setHeights();
					this.positionPreview();
				}, this), 25);

			},
			close: function () {

				var self = this,
					onEndFn = function () {
						if (support) {
							$(this).off(transEndEventName);
						}
						self.$item.removeClass('og-expanded');
						self.$previewEl.remove();
					};

				setTimeout($.proxy(function () {

					if (typeof this.$largeImg !== 'undefined') {
						this.$largeImg.fadeOut('fast');
					}
					this.$previewEl.css('height', 0);
					var $expandedItem = $items.eq(this.expandedIdx);
					$expandedItem.css('height', $expandedItem.data('height')).on(transEndEventName, onEndFn);

					if (!support) {
						onEndFn.call();
					}

				}, this), 25);

				return false;

			},
			calcHeight: function () {

				var heightPreview = winsize.height - this.$item.data('height') - marginExpanded,
					itemHeight = winsize.height;

				if (heightPreview < settings.minHeight) {
					heightPreview = settings.minHeight;
					itemHeight = settings.minHeight + this.$item.data('height') + marginExpanded;
				}

				this.height = heightPreview;
				this.itemHeight = itemHeight;

			},
			setHeights: function () {

				var self = this,
					onEndFn = function () {
						if (support) {
							self.$item.off(transEndEventName);
						}
						self.$item.addClass('og-expanded');
					};

				this.calcHeight();
				this.$previewEl.css('height', this.height);
				this.$item.css('height', this.itemHeight).on(transEndEventName, onEndFn);

				if (!support) {
					onEndFn.call();
				}

			},
			positionPreview: function () {

				var position = this.$item.data('offsetTop'),
					previewOffsetT = this.$previewEl.offset().top - scrollExtra,
					scrollVal = this.height + this.$item.data('height') + marginExpanded <= winsize.height ? position : this.height < winsize.height ? previewOffsetT - (winsize.height - this.height) : previewOffsetT;

				$body.animate({ scrollTop: scrollVal }, settings.speed);

			},
			setTransition: function () {
				this.$previewEl.css('transition', 'height ' + settings.speed + 'ms ' + settings.easing);
				this.$item.css('transition', 'height ' + settings.speed + 'ms ' + settings.easing);
			},
			getEl: function () {
				return this.$previewEl;
			}
		}

		return {
			init: init,
			addItems: addItems
		};

	})();
</script>
<script>
	$(function () {
		Grid.init();
	});
</script>