

html {
	background: $background;
	color: $color;
	font-family: 'Lobster', cursive;
	color: $color;
}

header {
	display: flex;
}

a {
	color: $link-color;
	text-decoration: none;
}

p {
	font-size: 2em;
	line-height: 2em;
}

nav {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: -15px;

	a {
		padding: 15px;
		text-decoration: none;
		color: darken($color, 30%);
		transition: color .2s ease;

		&.active {
			color: $color;
		}

		&:hover {
			color: $color;
		}
	}
}

img {
	max-width: 100%;
}

footer {
	text-align: center;
	color: #aaa;
	margin: 23px 0;
}
