<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- 	<meta name="title" content="SpdEmergency">
		<meta name="description" content="Artist, Digital art, Biologist">
		<meta name="keywords" content="Artist, Digital art, Biologist">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="English">
		<meta name="revisit-after" content="30 days"> -->




		{% seo %}
		<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
		<link rel="stylesheet" href= "https://fonts.googleapis.com/css?family=Tangerine">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link rel="me" href="{{ site.baseurl }}/me.jpg">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/me.jpg" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		{% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
			<script>
				window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
				ga('create', '{{ site.google_analytics_key }}', 'auto');
				ga('send', 'pageview');
			</script>
			<script async src='https://www.google-analytics.com/analytics.js'></script>
		{% endif %}


<!-- share this feature -->


	</head>

	<body {% if page.text_width %}class="text-width"{% endif %}>
		<div class="wrap">
			<header>
				<h1><a href="/">Sripradha</a></h1>
				{% include navigation.html %}
			</header>
			{{ content }}
			<footer>
			Built from base template by <a href="https://cloudcannon.com/">CloudCannon</a>
			</footer>
		</div>
	</body>
</html>
